#main {
  background-color: rgba(255, 228, 196, 0.306);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas_ylgy{
  background-color: rgba(216, 234, 249, 0.502);
}